h1 {
  color: #212529;
  font-size: 30px;
  font-weight: 700;
  span {
    margin-left: 6px;
    color: #cf2030;
  }
}
.donor__container {
  width: 100%;
  height: 150px;
  border: 1px solid #000;
  transition: all 300ms ease-out 0s;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &:hover {
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
      0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
    cursor: pointer;
    transform: translateY(-5px);
  }
}

.ant-modal-content {
  padding: 0 !important;
}

@media (max-width: 426px) {
  .donor__title {
    font-size: 18px;
    text-align: center;
  }
}
