.wrapper {
  background-image: url('https://bm3.bnihcmc6.com/_next/static/media/bgRegister.70d6f5d6.png');
  width: 100%;
  height: fit-content;
  background-size: contain;
}

.timeAddress {
  &__container {
    background-color: white;
    height: 264px;
    overflow: hidden;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 64px;
    }
  }
  &__info {
    padding: 20px;
    color: #051d82;
    h3 {
      color: #000;
      font-size: 25px;
      font-weight: 700;
    }
    p {
      font-size: 18px;
      line-height: calc(24 / 18);
    }
  }
  &__countdown {
    background-color: white;
    border-radius: 8px;
    height: 125px;
    h1 {
      font-size: 50px;
      font-weight: 500;
      color: black;
      display: flex;
      justify-content: center;
      margin-bottom: 14px;
    }
    span {
      color: crimson;
      font-size: 18px;
      font-weight: 700;
      display: flex;
      justify-content: center;
    }
  }
}

.linklogin {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  font-size: 16px;
  width: 200px;
  height: 54px;
  line-height: 54px;
  font-weight: 700;
  background-color: #f0fff0;
  text-align: center;
  border-radius: 25px;
  box-shadow: 4px 4px 7px 0 #3f1515;
  margin: 20px auto;
  &:hover {
    color: #1890ff;
  }
}

@media (max-width: 426px) {
  .timeAddress__container {
    border: none !important;
    margin-bottom: 3px;
    height: auto;
  }

  .timeAddress__info {
    padding: 14px 20px;
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 376px) {
  .timeAddress__info {
    h3 {
      margin: 12px 0;
    }
  }
}
