.container {
  padding: 20px 60px;
}

@media (max-width: 768px) {
  .container {
    padding: 20px 40px;
  }
}

@media (max-width: 426px) {
  .container {
    padding: 16px 30px;
  }
}

@media (max-width: 376px) {
  .container {
    padding: 12px 20px;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 10px;
  }
}
