.container {
  position: relative;
  transition: all 0.5 ease-in-out;
  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 10px;
    border-width: 8px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
}
